<div class="container">
    <div class="card text-center margin-auto">
        <div class="card-header">
        Posted by {{post.user.username}}
        </div>
        <div class="card-body">
        <h5 class="card-title " id="postTitle">{{post.title}}</h5>
        <p class="card-text" id="postBody">{{post.body}}</p>
        </div>
        <div class="card-footer text-body-secondary">
                Created at {{format_date post.created_at}}
                
        </div>

    </div>
    
    {{#if post.comments}}
        <div class="container">
            {{#each post.comments}}
                <div class="card text-center margin-auto mt-2">
                    <div class="card-header">
                        Comment by {{user.username}}
                    </div>
                    <div class="card-body">
                        <p class="card-text commentEl">{{comment}}</p>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Created at {{format_date created_at}}
                    </div>
                </div>   
            {{/each}}
        </div>
    {{/if}}
    <div class="mb-3 container">
        <label for="exampleFormControlTextarea1" class="form-label mt-3">Leave Your Comment</label>
        <textarea class="form-control commentContent" id="exampleFormControlTextarea1" rows="3" 
            {{#if loggedIn}} placeholder="Leave your comment here" {{else}}placeholder="Please login first." disabled{{/if}}></textarea>
        <button type="button" class="mt-3 btn btn-light sendBtn" {{#if loggedIn}}{{else}}disabled{{/if}}>Send</button>
    </div>
 
</div>

<script src="/js/postPage.js"></script>